/* Default stylesheet and tools */
body,
html {
  background: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
}

#container {
  position: fixed;
  height: 100%;
  width: 100%;
}

#container-mouse {
  position: fixed;
  height: 50px;
  width: 50px;
  top: -100px;
  left: -100px;
  background: rgb(240, 240, 240);
  -webkit-box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.31);
  box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.31);
  border-radius: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  cursor: none;
  z-index: 100;
}

#tools {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  background: red;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: black;
  color: white;
  padding: 0;
}
