body {
  -webkit-app-region: drag;
  font-family: monospace;
  font-size: 12px;
  padding: 5px;
  background-color: black;
  color: white;
}

progress {
  width: 60%;
  height: 10px;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent; /* colore dello sfondo della barra */
  border: none;
}

/* Colore del riempimento (barra di avanzamento) */
progress::-webkit-progress-bar {
  background-color: gray; /* sfondo vuoto */
}

progress::-webkit-progress-value {
  background-color: white; /* barra attiva in bianco */
}