/** Variables **/
:root {
  --color-primary: #0000ff;
  --color-secondary: #E8E8FF;
  --border-radius: 5px;
}

/** General UI **/
html,
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  height: 100%;
  height: auto;
}

p {
  font-size: 13px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  margin: 0;
}

.highlights {
  background-color: var(--color-secondary);
  padding: 3px 6px;
  color: var(--color-primary);
  border-radius: var(--border-radius);
  margin-top: 5px;
  display: inline-block;
}
