/** flex-container **/
.container {
  gap: 10px;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  padding: 10px;
  margin-bottom: 50px;
  position: relative;
}


/** heading **/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

h2 {
  opacity: 0.2;
}

.special-heading {
  text-decoration: underline;
}

.special-heading-2 {
  color: black;
}


/** links **/
a {
  color: var(--color-primary);
  text-decoration: none;
  display: block;
}

.special-link {
  color: black;
  text-decoration: underline;
}

.special-link-2 {
  font-size: 20px;
  color: orange;
}

.special-link-2:hover {
  color: red;
}


/** paragraphs **/
.special-paragraph {
  color: black;
  font-style: italic;
}

.special-paragraph-2 {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

/** lists **/
.special-ol {
  margin-top: 30px;
}

li {
  color: var(--color-primary);
}

.special-item {
  color: black;
  text-decoration: underline;
}

.special-item-2 {
  margin-left: 50px;
}


/** image **/
.special-image {
  width: 30%;
  border-radius: 100px;
}
.special-image-2 {
  width: 15%;
  border-radius: 50px;
  margin-left: 5px;
}

.special-image-2 {
  width: 15%;
  border-radius: 5px;
  margin-left: 5px;
}
.special-image-2:hover {
  opacity: 0.5;
  cursor: pointer;
}
.special-image-3 {
  width: 5%;
  border-radius: 5px;
  margin-left: 5px;
}

/** video **/
.special-video {
  width: 50%;
  border-radius: 5px;
}