/** flex-container **/
.container {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  padding: 10px;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6, p, em, strong {
  color: var(--color-primary);
  margin: 0
}

.main-p {
  color: red;
  font-family: 'Arial';
  font-style: italic;
  font-weight: bold;
}