html,
body {
  margin: 0;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 400;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: drag; /* Permette di trascinare la finestra */
}

#status {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
  pointer-events: none;
}

video {
  display: none; 
}

canvas {
  transform: scaleX(-1); 
}
